# data
.venv/
.env
docs/
__pycache__/
.vscode/
artifacts/
/logs/

data/**
!data/**/
!data/**/*.dvc
!data/**/.gitignore

checkpoints/**
!checkpoints/**/
!checkpoints/**/*.dvc
!checkpoints/**/.gitignore
